/*.test */
/*FourLimes title text*/
/*font-family: 'Titillium Web', sans-serif;*/ 
/* Body Font 
font-family: 'Cabin', sans-serif; */ 

body {
  background-color: #E4DFDA;
}

main {
  margin-top: 14px;
}

h1, h2, h3, h4, h5, h6, p, span{
  font-family: 'Cabin', sans-serif;
}

.alert-info {
  background-color: rgba(72, 169, 166, 0.27);
  border-color: #48a9a6;
  color: #31708f;
}

.alert-success {
  margin-top: 14px;
  background-color: #dff0d8;
  border-color: #48a9a6;
  color: #427c96;
}

.btn-primary {
  color: #fff;
  background-color: #4281a4;
  border-color: #4281a4;
}

.form-control:focus {
  color: #4281a4;
  background-color: #fff;
  border-color: #48a9a6;
  outline: 0;
}


/*NavBar 4281A4*/

/*.collapse .navbar-toggleable-xs{
  max-width: 150px;
}*/
.bg-primary {
  background-color: #48A9A6 !important;
}
.navbar {
  border-radius: 0px;
}
.navbar-brand {
  color: white !important;
  font-family: 'Titillium Web', sans-serif;
  font-size: 2em;

}
/*.navbar-light .navbar-brand:hover {
  color: white;
}
.navbar-light .navbar-brand:visited {
  color: white;
}
.navbar-light .navbar-brand:focus {
  color: white;
}
.navbar-light .navbar-brand:active {
  color: white;
}

.navbar-nav .nav-link {
  display: block;
  padding-top: 1.425rem;
  padding-bottom: .425rem;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255,255,255,.7);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .active>.nav-link:focus, .navbar-light .navbar-nav .active>.nav-link:hover, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.active:focus, .navbar-light .navbar-nav .nav-link.active:hover, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .nav-link.open:focus, .navbar-light .navbar-nav .nav-link.open:hover, .navbar-light .navbar-nav .open>.nav-link, .navbar-light .navbar-nav .open>.nav-link:focus, .navbar-light .navbar-nav .open>.nav-link:hover {
  color: rgb(255,255,255);
  font-size: 17px;
}
*/
/*Register and Login*/
.formSpacing {
  margin: 20px;
} 

/*Store*/
.cardPic {
  max-width: 100%;
}
.mark, mark {
  padding: .2em;
  color: #48A9A6;
  font-weight: bold;
  background-color: #FFFFFF;
}
.card-block a {
  color: #4281a4;
  text-decoration: none;
}

/* For Cart Summary */
.summaryBar {
/*  margin-left: 40px;
  float: right;
  margin-top: -50px;
  margin-bottom: -23px;*/
  width: 110px;
}


ngcart-summary {
  color: #ddd;
  transition: font-size 0.5s;
}

ngcart-summary.updated {
  color: white;
  font-size: 18px;
}

.RedAnimate {
  color: red;
  margin-left: 40px; 
}

/* For ngCart */
hr {
  margin:40px 0;
} 
h3 {
  color:#1758AA
}
h3 span {
  font-size:14px; display:block;
}
span[ng-click] {
  cursor: pointer;
}

/* Cart */
.card{
  height: 512px;
  border-radius: 10px !important;
}
.headingTitle {
  color: #4281A4;
}
.cartHeader {
  text-align: center;
}
.cartDetail {
  text-align: center;
}
.activeItem{
  color: #4281A4;
}
.shortText {
  color: #818a91;
}

/* Admin */
.orderHeader {
  color: #373a3c;
  font-size: 16px;
  display: inline;
}

.productHeader {
  color: #373a3c;
  font-size: 16px;
  display: inline;
  width: 100px;
}

/* Add a product */
.imageFeedback {
  color: #4281A4;
  display: inline;
}

#addProductButton { 
  margin-top: 14px;
  margin-left: 14px;
}

.pageHeader {
  color: #4281A4;
}

.shoppingBasket {
  float: right;
  display: inline-block;
}

.table td, .table th {
  border-top: 1px solid #48a9a6;
}

.table thead th {
  border-bottom: 2px solid #48a9a6;
}

.navbar-light .navbar-nav .nav-link{
  margin-top: 10px;
  color: white;
}

@media only screen and (max-width: 543px) {

  .pull-right {
    float: right;
  }

  .navbar-toggleable-xs {
    clear: both;
  }

  .navbar-brand {
    font-size: 1.5em;
    margin-right: none;
  }
}
/* Home */
.homeHeader {
  background: 
    linear-gradient(
      rgba(0,0,0,0.5),
      rgba(255,255,255,0.06)
    ),
    url('../images/fruit-bg.jpeg');
    background-size: cover;
    height: 100vh;
    border-radius: 20px; 
}

.homeTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center; 
}
.homeTitle h1 {
font-size: 90px;
}
.homeMain {
  max-width: 100%;
  margin: 20px auto;
}

.homeMain h4 {
  margin-left: 4%;
}
.homeMainCallToAction {
  text-align: center;
}
@media only screen and (min-width: 544px) and (max-width: 580px) {
  a.nav-link {
    font-size: 0.8em;
  }

}

