<h1>Admin Page</h1>

<!-- AdminController as admin -->
<h5>Current Orders</h5>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <th>Order Number</th>
      <th>Paid</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <tr ng-repeat="order in admin.all">
        <td>{{ order._id }}</td>
        <td>{{ order.isPaid }}</td>
        <td><div class="btn-group btn-group-sm" role="group">
              <button class="btn btn-secondary btn-sm" ui-sref="orderShow({ id: order._id })">Detail</button>
              <button class="btn btn-secondary btn-sm">*</button>
              <button type="button" ng-click="admin.delete(order)" class="btn btn-danger btn-sm">Remove from orders list</button> 
            </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<hr>
<div>
  <h5>Product Management</h5>
  <h5>Add a product to the store:</h5>

  <button class="btn btn-primary" ng-click="admin.addProduct()">Add Product</button>
  <div ng-controller="ProductsController as products" class="table-responsive">
    <br>
    <h5>Products in Store:</h5>

    <table class="table table-hover">
        <thead>
          <tr>
            <th>Item Name</th>
            <th>Item Type</th>
            <th>Quantity Available</th>
            <th>Remove from Stock</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in products.all">
            <td >{{ item.itemName }}</td>
            <td >{{ item.type }}</td>
            <td>{{ item.quantityAvail }}</td>
            <td><button type="button" class="btn btn-danger btn-sm" ng-click="products.delete(item)">Remove</button></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>