<h4>Admin Order Show Page</h4>
<!-- {{ adminShow.selected }} -->
<button type="button" class="btn btn-primary" ui-sref="admin">Back</button>
<hr>
<h5>Order #: {{ adminShow.selected._id }}</h5>
<p>Date of Order: {{ adminShow.selected.createdAt | date:'medium' }}</p>
<p>Contact: {{ adminShow.selected.user.firstName }} {{ adminShow.selected.user.lastName }}</p>
<p>Delivery Address:</p> 
<p>{{ adminShow.selected.user.buildingNumber }} {{adminShow.selected.user.addressLine1 }}</p>
<p>{{adminShow.selected.user.addressLine2 }}</p>
<p>{{adminShow.selected.user.addressLine3 }}</p>
<p>{{adminShow.selected.user.postCode }}</p>
<p>Contact Phone: {{ adminShow.selected.user.contactPh }}</p>
<p>Email address: {{ adminShow.selected.user.email }}</p>

<div class="table-responsive">
  <table class="table table-sm table-bordered table-striped">
    <thead>Items:
        <tr>
          <th>Quantity</th>
          <th>Product Name - Type</th>
          <th>Pack Size</th>
          <th>Item Total inc VAT(if any)</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in adminShow.selected.items">
          <th scope="row">{{ item.quantity }}</th>
          <td>{{ item.product.itemName }} - {{ item.product.type }}</td>
          <td>{{ item.product.packSize }}</td>
          <td>{{ item.total }}</td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Subtotal</th>
          <td>-</td>
          <td>-</td>
          <td>{{ adminShow.selected.subTotal }}</td>
        </tr>
        <tr>
          <th scope="row">+ Shipping (inc VAT)</th>
          <td>-</td>
          <td>-</td>
          <td>{{ adminShow.selected.shipping }}</td>
        </tr>
        <tr>
          <th scope="row">+ Tax</th>
          <td>-</td>
          <td>-</td>
          <td>{{ adminShow.selected.tax }}</td>
        </tr>
        <tr>
          <th scope="row">Total</th>
          <td>-</td>
          <td>-</td>
          <td>{{ adminShow.selected.grandTotal }}</td>
        </tr>
      </tbody>
  </table>
</div>