<h2>Register</h2>

<form ng-submit="register.submit()">
  <div class="form-group">
    <input type="text" name="firstname" class="form-control" ng-model="register.user.firstName" placeholder="First name">
  </div>
  <div class="form-group">
    <input type="email" name="email" class="form-control" ng-model="register.user.email" placeholder="Email">
  </div>
  <div class="form-group">
    <input type="password" name="password" class="form-control" ng-model="register.user.password" placeholder="Password">
  </div>
  <div class="form-group">
    <input type="password" name="passwordConfirmation" class="form-control" ng-model="register.user.passwordConfirmation" placeholder="Password confirmation">
  </div>

  <input type="submit" value="Submit" class="btn btn-primary">
</form>