<h2>Register</h2>

<div class="row"> 
  <div class="col-sm-8">
    <form ng-submit="register.submit()">
      <h6>Login Details:</h6>
      <div class="form-group">
        <div class='col-sm-10'>
          <input type="text" name="firstname" class="form-control" ng-model="register.user.firstName" placeholder="First name">
        </div>
      </div>
      <br>
      <br>
      <div class="form-group">
        <div class='col-sm-10'>
          <input type="text" name="lastname" class="form-control" ng-model="register.user.lastName" placeholder="Last name">
        </div>
      </div>
      <br>
      <br>
      <div class="form-group">
        <div class='col-sm-10'>
          <input type="email" name="email" class="form-control" ng-model="register.user.email" placeholder="Email">
        </div>
      </div>
      <br>
      <br>
      <div class="form-group">
        <div class='col-sm-10'>
          <input type="password" name="password" class="form-control" ng-model="register.user.password" placeholder="Password">
        </div>
      </div>
      <br>
      <br>
      <div class="form-group">
        <div class='col-sm-10'>
          <input type="password" name="passwordConfirmation" class="form-control" ng-model="register.user.passwordConfirmation" placeholder="Password confirmation">
        </div>
      </div>
      <br>
      <br>
      <h6>Contact phone number:</h6>
      <div class="form-group">
        <div class='col-sm-10'>
          <input type="text" name="contactPh" class="form-control" ng-model="register.user.contactPh" placeholder="Contact phone number">
        </div>
      </div>
      <br>
      <br>
      <h6>Delivery Address:</h6>
      <div class="form-group">
        <div class='col-sm-10'>
          <input type="text" name="buildingNumber" class="form-control" ng-model="register.user.buildingNumber" placeholder="Building Number / Floor number">
        </div>
      </div>
      <br>
      <br>
      <div class="form-group">
        <div class='col-sm-10'>
          <input type="text" name="addressLine1" class="form-control" ng-model="register.user.addressLine1" placeholder="Address Line 1">
        </div>
      </div>
      <br>
      <br>
      <div class="form-group">
        <div class='col-sm-10'>
          <input type="text" name="addressLine2" class="form-control" ng-model="register.user.addressLine2" placeholder="Address Line 2">
        </div>
      </div>
      <br>
      <br>
      <div class="form-group">
        <div class='col-sm-10'>
          <input type="text" name="addressLine3" class="form-control" ng-model="register.user.addressLine3" placeholder="Address Line 3">
        </div>
      </div>
      <br>
      <br>
      <div class="form-group">
        <div class='col-sm-10'>
          <input type="text" name="postCode" class="form-control" ng-model="register.user.postCode" placeholder="Postcode">
        </div>
      </div>
      <br>
      <br>
      <input type="submit" value="Submit" class="btn btn-primary">
    </form>
  </div>
</div>