<h4>Available this week</h4>
<div class="container">
<!-- <div class="row">
  <div class="col-xs-offset-8 col-xs-4">
    <h3>Summary <span>(ngcart-summary)</span></h3>    
      <ngcart-summary></ngcart-summary>
  </div>
</div>

<hr />
 -->
<!-- <h3>Add to Cart <span>(ngcart-addtocart)</span></h3> -->

<!-- Products as cards -->
  <div ng-controller="ProductsController as mainProductsArray">
    <div ng-repeat="productsArray in mainProductsArray">
      <div class="row"> 
        <div class="card-group">
          <div class="col-md-4" ng-repeat="product in productsArray">
            <div class="card">
               <div class="card-block">
                <h4 class="card-title">{{ product.itemName }}</h4>
                  <h6 class="card-subtitle text-muted">{{ product.type }} - £{{ product.price }}</h6>
              </div>
              <img class="cardPic" ng-src="{{ product.image }}" alt="{{ product.itemName }} image">
              <div class="card-block">
                <p class="card-text shortText">{{ product.shortDescription }}</p>
                <a ui-sref="productShow({ id: product._id })" class="card-link">More Details...</a>
                <ngcart-addtocart id="{{ product._id }}" name="{{ product.itemName }}" price="{{ product.price }}" quantity="1" quantity-max="{{ product.quantityAvail }}">Add to cart</ngcart-addtocart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr/>

  <div class="row">
      <div class="col-md-12">  
        <button class="btn btn-primary" ui-sref="cart">Cart</button>
        <p>{{ store.getTotal }}</p>
      </div>
  </div>
</div>

<!-- <h3>Cart <span> (ngcart-cart)</span></h3> -->

<!-- <ngcart-cart></ngcart-cart> -->

<!-- <hr/> -->
<!-- Products as cards END -->

<!-- div ng-controller="ProductsController as mainProductsArray">
<div ng-repeat="productsArray in mainProductsArray">
  <div class="row" ng-repeat="product in productsArray">
    <div class="col-xs-6 col-sm-3">
      <p>{{ product }}</p>
      <h4>{{ product.itemName }}</h4>
      <p> {{ product.price }} </p>
      <ngcart-addtocart id="{{ product._id }}" name="{{ product.itemName }}" price="{{ product.price }}" quantity="1" quantity-max="{{ product.quantityAvail }}">Add to Cart</ngcart-addtocart>
    </div> -->
    <!-- <div class="col-xs-6 col-sm-3">
      <h4>My Item #2</h4>
      <p> $15.29</p>
      <ngcart-addtocart id="item2" name="My Item #2" price="15.29" quantity="1" quantity-max="5">Add to Cart</ngcart-addtocart>
    </div>
    <div class="col-xs-6 col-sm-3">
      <h4>My Item #3</h4>
      <p> $25.75</p>
      <ngcart-addtocart id="item3" name="My Item #3" price="25.75" quantity="3" quantity-max="10">Add to Cart</ngcart-addtocart>
    </div>
    <div class="col-xs-6 col-sm-3">
      <h4>My Item #4</h4>
      <p> $29.25</p>
      <ngcart-addtocart id="item4" name="My Item #4" price="29.25" quantity="1" quantity-max="10">Add to Cart</ngcart-addtocart>        
    </div> -->
  

