<div class="alert alert-info" role="alert" ng-show="ngCart.getTotalItems() === 0">
    Your cart is empty :(
</div>

<div class="table-responsive col-lg-12" ng-show="ngCart.getTotalItems() > 0">

    <table class="table table-striped ngCart cart">

        <thead>
        <tr>
            <th class="cartHeader">Remove</th>
            <th class="cartHeader">Item</th>
            <th class="cartHeader">Quantity</th>
            <th class="cartHeader">Amount</th>
            <th class="cartHeader">Total</th>
        </tr>
        </thead>
        <tfoot>
        <tr ng-show="ngCart.getTax()">
            <td></td>
            <td></td>
            <td></td>
            <td>Tax ({{ ngCart.getTaxRate() }}%):</td>
            <td>{{ ngCart.getTax() | currency: ngCart.getCurrency() }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="cartDetail">Shipping:</td>
            <td class="cartDetail">£5.99</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="cartDetail">Total:</td>
            <td class="cartDetail">{{ 5.99 + ngCart.totalCost() | currency: ngCart.getCurrency() }}</td>
        </tr>
        </tfoot>
        <tbody>
        <tr ng-repeat="item in ngCart.getCart().items track by $index">
            <td class="cartDetail"><span ng-click="ngCart.removeItemById(item.getId())" class="glyphicon glyphicon-remove activeItem">x</span></td>

            <td class="cartDetail">{{ item.getName() }}</td>
            <td class="cartDetail"><span class="glyphicon glyphicon-minus activeItem" ng-class="{'disabled': item.getQuantity()==1}" ng-click="item.setQuantity(-1, true)">-</span>&nbsp;&nbsp;
                {{ item.getQuantity() | number }}&nbsp;&nbsp;
                <span class="glyphicon glyphicon-plus activeItem" ng-click="item.setQuantity(1, true)">+</span></td>
            <td class="cartDetail">{{ item.getPrice() | currency: ngCart.getCurrency() }}</td>
            <td class="cartDetail">{{ item.getTotal() | currency: ngCart.getCurrency() }}</td>
        </tr>
        </tbody>
    </table>
</div>
